<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>TodoList</title>
  <link rel="stylesheet" href="css/styles.css">

  <link rel="icon" href="https://img.icons8.com/material-rounded/64/000000/add-list.png">
</head>

<body>
